target/
*.class
*.jar
*.war
*.ear

.idea/
*.iml
*.ipr
*.iws

.settings/
.classpath
.project
.factorypath

*.log
*.lck
system_logs.*.log
system_logs.*.log.*
system_logs.*.log.lck

.DS_Store
Thumbs.db
Desktop.ini

src/main/resources/META-INF/persistence.xml.bak

*.pdf
*.docx
!docs/

.env
application-local.properties